// Printable Resume SCSS

#resume {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !important;
  width: 100%;
  margin: 0;
  text-align: left;

  // Comment this out to display resume for development purposes
  // TODO: Add a URL argument to display resume
  @media screen {
      display: none;
      padding: 0 !important;
      margin: 0 !important;
  }
}

#resume-interior {
  margin: 0 auto;
  width: 850px;
  height: 1100px;
  position: relative;
  background: white;
  overflow-y: hidden;
}

#resume-name {
  padding: 0 0 10px 0;
  font-size: 260%;
  text-align: center;
  font-weight: bold;
  color: $color-highlight;
  letter-spacing: 2px;
}

#resume-image {
  border-radius: 45%;
  max-width: 90%;
  height: 200px;
}

#resume-contact {
  padding: 35px 35px 0 10px;
  text-align: right;
  float: right;
  clear: none;
}

.resume-contact-item {
  border-bottom: 1px solid $color-highlight;
  padding: 8px 0;
}

.resume-contact-image {
  height: 35px;
  width: 35px;
  vertical-align: middle;
  margin-top: 0px;
}

.resume-contact-text {
  color: $color-text;
  vertical-align: middle;
  margin-right: 8px;
  text-decoration: none;
  font-size: 99%;

  &:visited {
      color: $color-text;
  }

  &:hover {
      color: $color-highlight;
  }
}

.resume-education-bold {
  font-weight: bold;
  font-size: 110%;
}

.resume-education-paragraph {
  padding: 10px 0 0 0;
}

#resume-professional,
#resume-additional,
#resume-education {
 margin: 20px 60px 0;
}

#resume-education {
  margin-top: 0;
  padding-top: 70px;
}

.resume-title {
  font-size: 140%;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 0 0 -5px;
  text-decoration: underline;
}

.resume-red-title {
  font-size: 110%;
  color: $color-highlight;
  margin-top: 10px;
  letter-spacing: 1px;
}

.resume-job-title {
  font-size: 110%;
  padding: 7px 0 0 0;
}

.resume-job-text {
  padding: 7px 0 0 5px;
  font-size: 90%;
  line-height: 150%;
}

.resume-job-text ul li {
  margin: 1px 0 0 15px;
  font-size: 95%;
}