@import url(//fonts.googleapis.com/css?family=Arvo|Bungee);

// Body text = Arvo, unless overridden or missing
* {
    font-family: 'Arvo', 'Helvetica Neue', 'Arial';
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafafa;
    color: #444;
}

// Font override: Headings = Bungee, if available
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee';
    letter-spacing: 4px;
    text-shadow: -1px 2px 0 rgba(187,55,54,0.7);
}

// Header styles
#header-interior {
    margin: auto;
    width: 100%;
    max-width: 1300px;
    position: relative;
}

#header-name {
    float:right;
    text-align: center;
    width: 55%;
    margin-top: 10px;
    margin-bottom: 8px;
    line-height: 35px;
    font-size: 30px;

    // Scale down slowly as last name breaks side of screen
    @media screen and (max-width: 435px) {
        line-height: 30px;
        font-size: 26px;
    }
    @media screen and (max-width: 400px) {
        line-height: 28px;
        font-size: 24px;
    }
    @media screen and (max-width: 365px) {
        line-height: 25px;
        font-size: 22px;
    }
    @media screen and (max-width: 330px) {
        line-height: 23px;
        font-size: 20px;
    }
}
#header-banner-container {
    float: left;
    margin: 0 0 10px 0;
    width: 100%;
}

#header-banner {
    margin: auto;
    width: 100%;
    max-width: 800px;
}

#header-pic {
    position: absolute;
    top: 15px;
    left: 22.5%;
    margin-left: -50px;
    height: 125px;
    width: 100px;
    background: url('../img/jeff-andolora-4x6-small.png');
    background-size: 100px 125px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    @media screen and (min-width: 650px) {
        height: 175px;
        width: 140px;
        background-size: 140px 175px;
    }

    @media screen and (min-width: 1024px) {
        height: 200px;
        width: 160px;
        background-size: 160px 200px;
    }
}

// Body text styles
.section {
    float: left;
    text-align: center;
    clear: both;
    width: 100%;
    padding: 10px 0;
}

.body-interior {
    margin: auto;
    width: 90%;
    max-width: 450px;
}

h2 {
    margin-bottom: 5px;
}

p {
    margin: 15px 0;
}

.button-link {
    text-decoration: none;
    display: block;
    color: #bb3736;
    padding: 20px;
    background: #ededed;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    text-shadow: 0 2px 0 white;
    border-radius: 10px;

    &:hover {
        background-color: #eddada;
    }
}

#footer {
    float: left;
    margin-top: 40px;
    height: 110px;
    width: 100%;
    background-color: #e3e3e3;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
    text-align: center;
}

#thanks {
    margin-top: 20px;
    line-height: 34px;
    font-size: 28px;
}

#footersaurus {
    position: absolute;
    bottom: 0;
    right: -60px;
    height: 100px;
    width: 136px;
}
